<div class="bar bar-subheader bar-calm">
	<h2 class="title">My Teams</h2>
</div>

<ion-view ng-controller="myTeamsCtrl">
	<ion-content class="has-header has-subheader">
		<div class="item item-divider">
			No Followed Teams
		</div>
		<div class="item">
			<p>You're not following any teams</p>
			<p>Choose a league and follow a team</p>
			<a href="#/home/leagues" class="button button-positive button-full">Select League</a>
		</div>
	</ion-content>
</ion-view>

<div class="card" ng-show="myTeams">
	<div class="item item-divider">My Teams</div>
	<a class="item item-icon-right" ng-repeat="team in myTeams" ng-click="goToTeam(team)">
		<h2>{{team.name}}</h2>
		<p>{{team.leagueName}}</p>
		<i class="icon ion-chevron-right icon-accessory"></i>
	</a>
</div>
